body {
    font-family: sailec-bold,sans-serif;
    background-color: rgb(245, 246, 245);
    color: #303030;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}

p{
    text-align: center;
}

.a{
    text-align: center;
}

.question-wrapper {
    border-radius: 5px;
    background: white;
    padding: 20px;
    max-width: 50%;
    margin: 50px auto;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.question-wrapper:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.08);
}

input[type=submit] {
    -webkit-appearance: none;
    background-color: #0059ff;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    font-size: 14px;
    border: none;
    cursor: pointer;
    width: 20%;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: #0047db;
}

input[type=button] {
    -webkit-appearance: none;
    background-color: #0059ff;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    font-size: 14px;
    border: none;
    cursor: pointer;
    width: 20%;
    font-weight: bold;
}

input[type=button]:hover {
    background-color: #0047db;
}

.content {
    border-radius: 5px;
    background: white;
    padding: 20px;
    max-width: 50%;
    margin: 50px auto;
}
