<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h1>[[${appName}]]</h1>

<p>Welcome to <span th:text="${appName}">Our App</span></p>

<div class="question-wrapper">
    <h2>Welke acteur heeft in de meeste films gespeeld?</h2>
    <form action="#" th:action="@{/vraag1}" method="post">
        <p><input type="submit" value="execute" /></p>
    </form>
</div>

<br>

<div class="question-wrapper">
    <h2>Wat is de langste film met een rating hoger dan 8.0?</h2>
    <form action="#" th:action="@{/vraag2}" method="post">
        <p><input type="submit" value="execute" /></p>
    </form>
</div>

<br>

<div class="question-wrapper">
    <h2>Geef het aantal films dat in een land gemaakt is weer in de tijd.</h2>
    <form action="#" th:action="@{/vraag3}" method="post">
        <p><input type="submit" value="execute" /></p>
    </form>
</div>

<br>

<div class="question-wrapper">
    <h2>In welk land zijn er de meeste films opgenomen?</h2>
    <form action="#" th:action="@{/vraag4}" method="post">
        <p><input type="submit" value="execute" /></p>
    </form>
</div>

<br>

<div class="question-wrapper">
    <h2>Welke film heeft de laagste rating met de hoogste kosten?</h2>
    <form action="#" th:action="@{/vraag5}" method="post">
        <p><input type="submit" value="execute" /></p>
    </form>
</div>

<br>

<div class="question-wrapper">
    <h2>Welke acteur of actrice speelt het meest in de slechtst gewaardeerde films?</h2>
    <form action="#" th:action="@{/vraag6}" method="post">
        <p><input type="submit" value="execute" /></p>
    </form>
</div>

<br>

<div class="question-wrapper">
    <h2>Ga na met R of er een verband is tussen de kosten van een film en de lengte ervan. Analyseer dit op een vergelijkbare manier als in vraag C4</h2>
    <form action="#" th:action="@{/vraag7}" method="post">
        <p><input type="submit" value="execute" /></p>
    </form>
</div>

<br>

<div class="question-wrapper">
    <h2>Sommige films hebben een getal in hun titel. Maak een visuele weergave van het aantal malen dat een bepaald getal in een filmtitel voorkomt. Bonus: Kijk of de wet van Benford geldt.</h2>
    <form action="#" th:action="@{/vraag8}" method="post">
        <p><input type="submit" value="execute" /></p>
    </form>
</div>


</body>
</html>
