<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h1>[[${appName}]]</h1>
<p>Welke acteur of actrice speelt het meest in de slechtst gewaardeerde films? (rating onder 5.0)</p>

<span >Naam: </span>
<span th:text="${result.name}"></span>
<br>
<span >Aantal Slecht gewardeerde films: </span>
<span th:text="${result.hoeveelheid_films}"></span>
<br>
<br>
<br>

<form>
    <input type="button" value="Terug naar Home" onclick="history.back()">
</form>

</body>
</html>
