<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h1>Er wordt vaak gemopperd op het niveau van Nederlandse films. Stel een hypothese op en toets of de waardering van Nederlandse films significant minder is dan van een ander land (VS, Frankrijk, etc)</h1>

<div class="content">
    <span >Waardering NL: </span>
    <span th:text="${result.ratingnl}"></span>
    <br>
    <span >Waardering andere landen:</span>
    <span th:text="${result.ratingother}"></span>
    <br>
    <br>
    <form>
        <input type="button" value="Terug naar Home" onclick="history.back()">
    </form>
</div>
</body>
</html>
