<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h2>Maak een model in R waarmee je kunt nagaan of Franse films minder vaak van het genre geweld en/of horror zijn dan Amerikaanse</h2>
<div class="content">
<!--    <img id="image" th:src="@{images/genreVis.png}"/>-->
    <img id="image" src="../../images/genreVis.png"/>
    <br>
    <form>
        <input type="button" value="Terug naar Home" onclick="history.back()">
    </form>
</div>

</body>

</html>

