<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<br>
<br>
<br>
<br>
<div class="container">
    <canvas id="myChart"></canvas>
</div>

<script type="text/javascript" th:inline="javascript">

    let myChart = document.getElementById('myChart').getContext('2d');

    // fucking rare thymeleaf shit
    // TODO: beter via ajax
    /*<![CDATA[*/

    var data = /*[[${result}]]*/ 'default';
    /*]]>*/

    var keys = [];
    var values = [];
    for (filmsperjaar in data) {
        var obj = data[filmsperjaar];

        keys.push(obj.jaar);
        values.push(obj.hoeveelheid);
    }

    let barChart = new Chart(myChart, {
        type:'bar', //bar, horizontalbar
        data:{
            labels: keys,
            datasets:[{
                label:'Hoeveelheid Films',
                data: values,
                backgroundColor:'blue'
            }]
        },
        options:{}
    });
</script>
<br>
<br>
<br>

<form>
    <input type="button" value="Terug naar Home" onclick="history.back()">
</form>
</body>
</html>
