<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h2>Sommige films hebben een getal in hun titel. Maak een visuele weergave van het aantal malen dat een bepaald getal in een filmtitel voorkomt. Bonus: Kijk of de wet van Benford geldt.</h2>

<div class="content">
    <img id="image" src="../../images/digitVis.png"/>
<!--    <img id="image" th:src="@{images/digitVis.png}"/>-->
    <form>
        <input type="button" value="Terug naar Home" onclick="history.back()">
    </form>
</div>

</body>
</html>
