<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h2>Ga na met R of er een verband is tussen de kosten van een film en de lengte ervan. Analyseer dit op een vergelijkbare manier als in vraag C4</h2>

<div class="content">
    <img id="image" th:src="@{images/budgetLengthVis.png}"/>
    <form>
        <input type="button" value="Terug naar Home" onclick="history.back()">
    </form>
</div>

</body>
</html>
