<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<br>
<br>
<h3 style="text-align: center">Geef het aantal films dat in een land gemaakt is weer in de tijd.</h3>
<br>
<br>
<br>
<br>
<div class="container">
    <canvas id="myChart"></canvas>

    <script type="text/javascript" th:inline="javascript">

        let myChart = document.getElementById('myChart').getContext('2d');


        /*<![CDATA[*/
        var data = /*[[${result}]]*/ 'default';
        /*]]>*/

        var keys = [];
        var values = [];
        for (filmsperjaar in data) {
            var obj = data[filmsperjaar];

            keys.push(obj.jaar);
            values.push(obj.hoeveelheid);
        }

        let barChart = new Chart(myChart, {
            type:'bar',
            data:{
                labels: keys,
                datasets:[{
                    label:'Hoeveelheid Films',
                    data: values,
                    backgroundColor:'#1a66ff'
                }]
            },
            options:{}
        });
    </script>
    <br>
    <br>
    <br>
    <form>
        <input type="button" value="Terug naar Home" onclick="history.back()">
    </form>
</div>

</body>
</html>
