<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h1>[[${appName}]]</h1>
<p>In welk land zijn er de meeste films opgenomen?</p>

<span >Welk land?</span>
<span th:text="${result.country}"></span>
<br>
<span >Aantal films: </span>
<span th:text="${result.aantal_films}"></span>
<br>
<br>
<br>

<form>
    <input type="button" value="Terug naar Home" onclick="history.back()">
</form>
</body>
</html>
